/* RM Slider */
.rm-py{
    padding: 100px 0;
}
#rmtop .rm-item{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 800px;
    color: #fff;
}
.rm-container{
    /* width: 1280px; */
    width: 1200px;
    margin: 0 auto;
}
.rm-content .rm-title-sm, .pop-up-rm .rm-title-sm{
    color: #f36437;
    font-weight: 800;
    line-height: 1.22;
    letter-spacing: .3em;
    text-transform: uppercase;
    margin-bottom: 1.375rem;
    font-size: 1.2rem;
}
.rm-content .rm-title-md {
    font-size: 2.2rem;
    color: #fff;
}
.rm-quote{
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
    margin: 30px 0px 0px 0px;
    padding: 0;
    color: #fff;
}

.rm-quote span{
    font-weight: 600;
}
#rmtop.owl-theme {
    position: relative;
}
#rmtop.owl-theme .owl-next, #rmtop.owl-theme .owl-prev {
    width: 40px;
    height: 40px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    border-radius: 100%;
    line-height: 24px;
    padding: 5px;
    box-shadow: 0 2px 5px rgb(62 75 130 / 28%);
    background: #fff;
    border: none;
}
#rmtop.owl-theme .owl-next img, #rmtop.owl-theme .owl-prev img {
    vertical-align: middle;
}
#rmtop.owl-theme .owl-prev {
    left: 10px;
}
#rmtop.owl-theme .owl-next {
    right: 10px;
}
/* RM Tab CSS */
#rmbottom {
    margin: -200px auto;
}
#rmbottom .rm-item {
    background: #fff;
    position: relative;
    padding: 25px 30px;
    color: #3e4b82;
    -webkit-border-radius:0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
    cursor: pointer;
    -webkit-box-shadow: inset 20px 20px 24px rgb(0 0 0 / 5%);
    box-shadow: inset 20px 20px 24px rgb(0 0 0 / 5%);
    z-index: 1;
    overflow: hidden;
}
#rmbottom .rm-item:before {
    content: "";
    height: 5px;
    background-image: linear-gradient(90deg, #f36437, #e1ac58);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
#rmbottom .rm-item:after {
    content: "";
    height: 5px;
    background: radial-gradient(48.9% 41.33% at 57.37% 100%,#5b86c3 0,#3e4b82 100%);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    height: 100%;
    margin: 0 auto;
    z-index: -1;
}
#rmbottom .current .rm-item {
    background: #3e4b82;
    color: #FFF;
}
#rmbottom .current .rm-item:after {
    opacity: 1;
}
#rmbottom .current .rm-item:before{
    content: none;
}
.rm-name{
    font-size: 1.7rem;
    line-height: 1.1;
}
.rm-designation{
    font-size: 1rem;
    margin-top: 5px;
}
.owl-theme .owl-nav [class*='owl-'] {
    transition: all .3s ease;
}
.owl-theme .owl-nav [class*='owl-'].disabled:hover {
    background-color: #D6D6D6;
}
.rm-content .owl-nav {
    position: absolute;
    z-index: 999999999;
    bottom: 145px;
    left: 9%;
    right: 9%;
}
/*RM Popup */
.rm-onclick {
    width: 320px;
    cursor: pointer;
    color: #fff;
    font-size:20px;
    padding: 18px 0;
    margin: 50px 0 0 0;
    text-transform: uppercase;
    -webkit-transition: color .3s,-webkit-transform .3s;
    transition: color .3s,-webkit-transform .3s;
    transition: transform .3s,color .3s;
    transition: transform .3s,color .3s,-webkit-transform .3s;
}
.rm-onclick:after{
    content:url('/wp-content/plugins/review-manager/assets/images/arrow.png');
    margin-left: 15px;
    transition: color .12s ease-in-out;
}
.rm-onclick:hover:after{
    content:url('/wp-content/plugins/review-manager/assets/images/arrow-hover.png');
    margin-left: 15px;
}
.rm-onclick:hover{
    color: #f36437;
}
.pop-up-rm .rm-title-sm{
    margin-bottom: 9%;
}
.pop-up-rm p{
    line-height: 2.2;
    color: #3e4b82;
    font-size: 22px;
}
.rm-divider{
    position: relative;
    border-top: 1px solid rgba(103,157,221,.4);
    padding-top: 3rem;
    margin-top: 3rem;
}
.rm-divider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5.3rem;
    height: 1px;
    pointer-events: none;
    background: #3e4b82;
}
.p-rm-name{
    font-size: 2.5rem;
    color: #3e4b82;
    font-weight: 700;
}
.p-rm-designation{
    font-size: 1.2rem;
    margin-top: 5px;
    color: #679ddd;
}
.rm-model {
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 0;
    -webkit-transition: opacity 0.15s linear, z-index 0.15;
    -o-transition: opacity 0.15s linear, z-index 0.15;
    transition: opacity 0.15s linear, z-index 0.15;
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
}
.model-open {
    z-index: 99999;
    opacity: 1;
    overflow: hidden;
}
.rm-model-inner {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: -webkit-transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
    display: inline-block;
    vertical-align: middle;
    width: 900px;
    margin: 30px auto;
    max-width: 100%;
}
.rm-model-wrap {
    display: block;
    width: 100%;
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 14px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
    text-align: left;
    padding:70px 130px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff url('/wp-content/plugins/review-manager/assets/images/decor-dark.png') no-repeat -220px bottom;
}
.model-open .rm-model-inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    position: relative;
    z-index: 999;
}
.model-open .rm-bg-overlay {
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
}
.rm-bg-overlay {
    background: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-transition: background 0.15s linear;
    -o-transition: background 0.15s linear;
    transition: background 0.15s linear;
}
.rm-close-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
    z-index: 99;
    font-size: 30px;
    color: #3e4b82;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 2px solid #3e4b82;
}

.rm-close-btn {
    transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
}

.rm-close-btn:hover {
    transition: 0.50s;
    -webkit-transition: 0.50s;
    -moz-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
    -webkit-transform: rotate(390deg);
    -moz-transform: rotate(390deg);
    -o-transform: rotate(390deg);
    -ms-transform: rotate(390deg);
    transform: rotate(390deg);
}

@media only screen and (max-width: 1400px) {
    .rm-content .owl-nav {
        position: absolute;
        z-index: 999999999;
        bottom: 145px;
        left: 1%;
        right: 1%;
    }

    #rmtop.owl-theme .owl-prev {
        left: -11px;
    }

    #rmtop.owl-theme .owl-next {
        right: -11px;
    }

}

@media only screen and (max-width: 768px) {
    .rm-wrap{
        position: relative;
    }
    #rmbottom{
        position: relative;
        width: 50%;
        float: left;
        margin: -170px auto;
    }

    .rm-container {
        width: 100%;
        padding:0;
    }
    .rm-content {
        position: relative;
    }
    .rm-quote {
        font-size: 2rem;
        padding: 0 20px 0 0;
        line-height: 1.2;
    }
    .rm-content .rm-title-sm, .pop-up-rm .rm-title-sm{
        font-size: 0.9rem;
        margin: 0 0 10px 0;
    }
    .rm-content .rm-title-md {
        font-size: 1.3rem;
    }
    .rm-onclick {
        width: 100%;
        font-size: 15px;
        margin: 30px 0 0 0;
    }
    #rmtop .rm-item {
        min-height: 473px;
        background-position: center center;
        position: relative;
        padding: 30px;
        width: 100%;
    }
    .rm-content .owl-nav {
        position: absolute!important;
        z-index: 999999999!important;
        bottom: 145px;
        width: 150px;
        left: auto;
        float: right;
        right: 0!important;
    }
    #rmbottom .rm-item {
        box-shadow: none;
        padding: 0 30px;
        background: transparent;
        color: #fff;
    }
    #rmbottom .rm-item:after {
        background: transparent;
    }
    #rmbottom .rm-item:before{
        content: none;
    }
    #rmbottom .current .rm-item {
        background: transparent;
    }
    .rm-content .owl-nav {
        position: absolute;
        z-index: 999999999;
        bottom: 145px;
        right:0;
    }
    .rm-name {
        font-size: 1.3rem;
    }
    .rm-content .owl-nav{
        bottom: 156px;
    }
    #rmtop.owl-theme .owl-next, #rmtop.owl-theme .owl-prev {
        background: transparent;
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        margin-top: 0;
    }
    .rm-wrap .owl-theme .owl-next img, .rm-wrap .owl-theme .owl-prev img{
        display: none;
    }
    .rm-wrap .owl-theme .owl-prev:before{
        content:url('/wp-content/plugins/review-manager/assets/images/angle-pre-light.png');
        position: absolute;
        left: 0;
        right: 0;
        top: 3px;
    }
    .rm-wrap .owl-theme .owl-next:before{
        content:url('/wp-content/plugins/review-manager/assets/images/angle-next-light.png');
        position: absolute;
        left: 0;
        right: 0;
        top: 3px;
    }
    .rm-onclick:after{
        content:url('/wp-content/plugins/review-manager/assets/images/arrow-sm.png');
    }
    .rm-onclick:hover:after{
        content:url('/wp-content/plugins/review-manager/assets/images/arrow-hover-sm.png');
    }
    #rmtop.owl-theme .owl-prev {
        left: 30px;
    }
    #rmtop.owl-theme .owl-next {
        right: 30px;
    }
    .rm-model-wrap{
        padding: 40px;
    }
    .pop-up-rm p {
        font-size: 16px;
        line-height: 26px;
    }
    .p-rm-name {
        font-size: 1.2rem;
    }
    .rm-divider {
        padding-top: 1rem;
        margin-top: 1rem;
    }
    .p-rm-designation {
        font-size: 0.8rem;
    }
    .pop-up-rm .rm-title-sm {
        margin-bottom: 3%;
    }
    .rm-model-wrap {
        margin: 0 auto;
        width: 95%;
    }
    .rm-close-btn {
        right: 25px;
        top: 9px;
    }

    .rm-content .rm-container {
        border-bottom: 1px solid rgba(244,246,255,.2);
        padding-bottom: 17px;
    }

    .rm-onclick {
        padding: 22px 0;
    }

    .rm-content .rm-container:after {
        content: "";
        width: 120px;
        height: 3px;
        background: #f36437;
        display: block;
        position: absolute;
        margin-top: 16px;
    }

    .rm-wrap .owl-theme .owl-prev:before, .rm-wrap .owl-theme .owl-next:before {
        top: 5px;
    }
}

@media only screen and (max-width: 479px) {
    #rmbottom{
        width: 77%;
    }

    .rm-content .owl-nav {
        width: 140px;
    }

    #rmbottom {
        margin: -165px auto;
    }

    .rm-content .owl-nav {
        bottom: 157px;
    }

    .rm-quote {
        font-size: 1.6rem;
    }
}